#folders I want not tracked;
docs/

#a .env just incase coz, idk you never know and to add flesh to my file
.env

#we add a .db one so that we dont commit our database to the net LOL
#new thing I learnt today, you dont just add like .db you add a * before it its called a wildcard this will make the file watch out for everything with that
#extensiom
*.db

#we add a block to the other mambo jumbo that we have had since the commencing of work by our system
__pycache__


#I have repurposed this gitignore file as I think alot of my works will be done, not writting a new file, this is the beginning of the new data
/assets
